<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>com.apple.developer.associated-domains</key>
        <array>
            <string>applinks:restocks.net</string>
            <string>applinks:acceptatie.restocks.net?mode=developer</string>
            <string>applinks:v2.test.restocks.net?mode=developer</string>
            <string>webcredentials:restocks.net</string>
            <string>webcredentials:acceptatie.restocks.net</string>
        </array>
        <key>com.apple.security.cs.disable-library-validation</key>
        <true/>
    </dict>
</plist>
